<div class="slide">
  <h1>Conclusion</h1>
  <ul>
    <li>Ideal for large, complex applications.</li>
    <li>Requires disciplined planning to mitigate risks.</li>
    <li>Empowered by modern tools and strategies.</li>
  </ul>
  <div class="images-container">
    <img src="assets/team-gears.webp" alt="Team Collaboration" height="350" width="450"
         style="margin-right: 6em; margin-bottom: 8em"/>
    <img src="assets/growth-arrow.png" alt="Growth Representation" height="350" width="350"
         style="margin-right: 6em; margin-bottom: 8em"/>
    <img src="assets/tools-strategy.webp" alt="Tools and Strategy" height="350" width="350" style="margin-bottom: 8em"/>
  </div>
</div>
