<div class="slide">
  <h1>When to Use Micro Frontends</h1>
  <ul>
    <li>Applications with multiple teams working in parallel.</li>
    <li>Long-term projects needing scalability.</li>
    <li>Complex apps with independent functionalities.</li>
  </ul>
  <div class="images-container">
    <img src="assets/teams-working.png" alt="Teams Working" height="350" width="350"
         style="margin-right: 5em; margin-bottom: 10em"/>
    <img src="assets/scalability-chart.jpeg" alt="Scalability Chart" height="350" width="350"
         style="margin-bottom: 10em"/>
    <img src="assets/modular-app.png" alt="Modular App" height="350" width="350" style="margin-bottom: 10em"/>
  </div>
</div>
